<nav>
  <div class="container">
    <div class="nav-left">
      <a class="nav-brand" href="{{ "/" | relative_url }}">
        <img src="{{ "/images/logo.png" | relative_url }}" alt="Kaniop" height="40">
      </a>
    </div>
    <div class="nav-right">
      <a class="nav-link" href="{{ latestDocs | relative_url }}">Documentation</a>
      <a class="nav-link" href="{{ githubLink }}">GitHub</a>
      <a class="nav-link" href="{{ discussionLink }}">Community</a>
      <a class="nav-link" href="{{ releasesLink }}">Releases</a>
    </div>
  </div>
</nav>
